<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- Settings for the basic consoel app-->
    <add key="PaperTrailHostName" value="logs.papertrailapp.com"/>
    <add key="PaperTrailIp" value="67.214.212.101"/>
    <add key="PaperTrailPort" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="All" />
      <file value="C:\temp" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'.'yyyyMMdd'.log.txt'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
  
  <!-- Settings for the Log4NetTLSAppender -->
  <appender name="Log4NetTLSAppender" type="PaperTrailTLS.Log4NetTLSAppender">
    <DestinationIpAddress value="67.214.212.101" />
    <DestinationPort value="" />
    <DestinationHostName value="logs.papertrailapp.com" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <target value="Console.Error" />
    <mapping>
      <level value="FATAL" />
      <foreColor value="Red" />
      <backColor value="White" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Cyan" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Green" />
    </mapping>
    <!--		<layout type="log4net.Layout.SimpleLayout" />-->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="[%p{log4net:HostName}] %date{HH:mm:ss.fff} : %5level [%logger] - [%thread] - %message%exception%newline%newline" />
    </layout>
  </appender>

  <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="Log4NetTLSAppender" />
    </root>
  </log4net>
</configuration>